name: Lint pull requests or commits
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - ready_for_review
jobs:
  test:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2.3.4

      - name: Set up Node.js
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14.x

      - name: Install npm dependencies
        run: npm install

      - name: Lint code
        run: npm run lint
